body,
html {
  background-color: #1b1a1a;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0rem;
  padding: 0rem;
}

.main {
  padding: 1rem;
  margin: 0rem;
}

h1 {
  vertical-align: middle;
  font-size: 2.5rem;
  background-color: black;
  margin: 0.3rem;
  padding: 0.3rem;
}

h1 img {
  vertical-align: middle;
  height: 80px;
  padding-right: 1rem;
}

.center-text {
  text-align: center;
}

button {
  background-color: #26703d;
  border: 0;
  margin: 0.2rem;
  padding: 0.3rem;
  width: 2rem;
  border-radius: 5px;
  color: #b8f0c9;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #43aa64;
}

button.active {
  background-color: #1270af !important;
  color: white !important;
}

.game {
  background-color: #363636;
  border: 1px solid #6e6e6e;
  border-radius: 6px;
  margin: 0rem;
  margin-bottom: 1.5rem;
  padding: 0rem;
  color: #ddd;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  font-size: 18px;
}

.game h2 {
  padding: 0.3rem;
  margin: 0rem;
  background-color: #25c293;
  border-radius: 6px;
  margin-bottom: 1rem;
  color: #111;
  padding-left: 1rem;
}

.game img {
  padding: 0rem;
  margin: 0.6rem;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border: 4px solid #16bebe;
  max-height: 300px;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.notFound {
  display: none;
}

input {
  background-color: #363636;
  border: 1px solid #6e6e6e;
  margin: 0.2rem;
  padding: 0.3rem;
  width: 8rem;
  border-radius: 5px;
  color: #ddd;
  font-size: 18px;
}

.pages {
  padding: 0.8rem 0 0.8rem 0;
}

.game-count {
  padding-right: 2rem;
}

input[type='checkbox'] {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
}
